/* общi cтилi */
:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
	--primary-background-color-button: #f5f4fa;
	--primary-color-button: #212121;
	--accent-color-button: #fff;
	--primary-logo-color: #2196f3;
	--secondary-logo-color: #000;
	--secondary-background-color: #2f303a;
}

body,p,ul,button,h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}
button{ 
	cursor: pointer;
	font-family: inherit;
}
h1,h2,h3,h4,h5,h6{
	font-size: inherit;
	line-height: inherit;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}

/* сторiнка */
body {
	font-family: Roboto;
	font-size: 14px;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
}

/* контейнер */
.container{
	width: 1200px;
	margin: 0 auto;
}

/* хедер */
.header {
	font-weight: 500;
	letter-spacing: 0.02em;
	border-bottom: 1px solid #ececec;
	padding: 25px 0;
}
.header-nav {
}
.header-logo {
	font-family: Raleway;
	font-size: 26px;
	font-weight: 700;
	color: var(--secondary-logo-color);
}
.header-logo .logo {
	color: var(--primary-logo-color);
}
.header-list {
}
.header-item {
	
}
.header-link {
	color: var(--primary-color-button);
}
.header-link:hover,
.header-link:focus {
	color: var(--accent-color);
}
.header-link.active {
	color: var(--accent-color);
}
.header-contacts {
}
.contacts-item a{
	color: var(--primary-text-color);
}
.contacts-item a:hover,
.contacts-item a:focus {
	color: var(--accent-color);
}
.header-mail {
}
.header-tel {
}
/* основний контент */
.main {
}
.section{
	padding: 94px 0;
}
.section.work-examples{
}
.filter {
}
.filter-item {
}
.filter-button {
	font-weight: 500;
	letter-spacing: 0.02em;
	color: var(--primary-color-button);
	border: 0px;
	background-color: var(--primary-background-color-button);
	border-radius: 4px;
	padding: 6px 22px;
}
.filter-button:hover,
.filter-button:focus {
	color: var(--accent-color-button);
	background-color: var(--accent-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
}

.examples {
}
.examples-item {
	border-bottom: 1px solid #eeeeee;
	margin-top: 50px;
}
.item-title {
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0.06em;
	color: var(--title-text-color);
}
.item-subtitle {
	font-size: 16px;
	color: var(--primary-text-color);
}

.section.hero {
	width: 100%;
	height: 600px;
	background-color: var(--secondary-background-color);
}
.hero-title {
	color: #fff;
	font-size: 44px;
	font-weight: 900;
	letter-spacing: 0.06em;
	text-align: center;
	text-transform: uppercase;
	margin-top: 150px;
}
.hero-button {
	width: 216px;
	height: 50px;
	background-color: var(--accent-color);
	border-radius: 4px;
	border: 0px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.06em;
	color: #fff;
	margin-top: 30px;
}

.section.benefits{

}
.benefits-list{

}
.benefits-item{

}
.benefits-title{
	font-weight: 700;
	text-transform: uppercase;
	color: var(--title-text-color);
	margin-bottom: 10px;
}
.benefits-subtitle{
	color: var(--primary-text-color);
}

.section .about{

}
.about-title{
	font-size: 36px;
	font-weight: 700;
	letter-spacing: var(--primary-letter-spacing);
	text-align: center;
	color: var(--title-text-color);
	margin-bottom: 50px;
}
.about-item{

}

.section.team{
	background-color: var(--primary-background-color-button);
}
.team-title{
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	color: var(--title-text-color);
}
.team-list{

}
.team-item{
	width: 270px;
	height: 368px;
	background: #fff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0 0 4px 4px;
	margin-top: 50px;
}

.item-title{
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.03em;
	color: var(--title-text-color);
	margin-top:30px;
}
.item-subtitle{
	font-size: 16px;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
	margin-top: 10px;
}

/* футер */
.footer {
	background-color: var(--secondary-background-color);
	padding: 60px 0;
}
.footer-logo {
	font-family: Raleway;
	font-size: 26px;
	font-weight: 700;
	color: #fff;
}
.footer-logo .logo {
	color: var(--primary-logo-color);
}
.footer-address {
}
.footer-address a{
	font-style: normal;
}
.footer-address a:hover,
.footer-address a:focus{
	color: var(--accent-color);
}
.footer-location {
	color: #fff;
}
.footer-mail {
	color: rgba(255, 255, 255, 0.6);
}
.footer-tel {
	color: rgba(255, 255, 255, 0.6);
}
